langchain
google-cloud-aiplatform>=1.56.0
google-cloud-discoveryengine
langchain-google-vertexai
langchain-community
faiss-cpu
nbformat
streamlit
langchain_google_genai
streamlit-lottie
streamlit-authenticator
streamlit-on-Hover-tabs
google-genai
vertexai
unstructured
langchain_google_community
ipython
google-cloud-video-live-stream